<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>practice17_事件_冒泡默認行為</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./vue.js"></script>
    <style>
        .box{
            background: red;
            width: 100px;
            height: 100px;
            position: absolute;
            left: 0;
            top: 0
        }
        .w{
            width:300px;
        }
        .h{
            height:300px;
        }
    </style>
</head>
<body>
    <div id='app'>
        <div @contextmenu="show2">
            <!--阻止冒泡法2 @click.stop-->
            <input type="button" value="按鈕1" @click.stop="show">
            <!--contextmenu偵測右鍵點擊-->
            <input type="button" value="按鈕2" @contextmenu="show">
            <!--阻止默認行為法2: prevent-->
            <input type="button" value="按鈕3" @contextmenu.prevent="show">
            <!--也可以連字用(取消預設行為 + 阻止冒泡)-->
            <input type="button" value="按鈕4" @contextmenu.prevent.stop="show">
            <input type="text" v-model="ipt" @keyup="show3">
            <ul>
                <li v-for="(val, index) in arr" :key="index">
                    {{val}}
                </li>
            </ul>
            <!-- 使用修飾符偵測enter -->
            <!-- 可以去查查有那些修飾符-->>
            <input type="text" v-model="ipt1" @keyup.enter="show4">
            <!-- 此法也可以
                <input type="text" v-model="ipt1" @keyup.13="show4">
            -->
            <ul>
                <li v-for="(val, index) in arr1" :key="index">
                    {{val}}
                </li>
            </ul>
        </div>
        
    </div>
    <script>
        var vm = new Vue({ 
            el : '#app'
            ,data : {
                ipt:'yellow',
                ipt1:'yellow',
                arr:[],
                arr1:[]
            },
            methods:{
                show:function(ev){
                    alert("button")
                    //阻止冒泡法1
                    //ev.stopPropagation();

                    //阻止默認行為法1 右鍵點擊就不會出現菜單了
                    ev.preventDefault();
                },
                show2:function(ev){
                    alert("div")
                    
                },
                show3:function(ev){
                    console.log(ev.keyCode)
                    if(ev.keyCode == 13){
                        this.arr.push(this.ipt);
                        this.ipt = "";
                    }
                    
                },
                show4:function(ev){
                    console.log(ev.keyCode)
                    if(ev.keyCode == 13){
                        this.arr1.push(this.ipt1);
                        this.ipt1 = "";
                    }
                    
                },
            }
        })
    </script>
</body>
</html>