<!doctype html>
<html lang="en">
  <head>
    <title>practice18_購物車</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./vue.js"></script>
  </head>
  <body>
    <div class="container">
        <h4>購物車</h4>
        <dl v-for="(val,index) of list" :key="val.id">
            <dt>商品名稱: <span class="badge badge-primary">{{val.name}}</span></dt>
            <dd class="ml-3">單價:<span class="badge badge-info">{{val.price | currency('$',2)}}</span></dd>
            <!-- 輸入最大值 最小值用法 -->
            <dd class="ml-3">數量:<input type="number" v-model="val.count" :min="val.min" :max="val.max"></dd>
            <dd class="ml-3">小記:<span class="badge badge-info"></span>{{val.count * val.price | currency('$',3)}}</span></dd>
        </dl>
        總價:{{cptSum | currency}}
    </div>
    <script>
            let vm = new Vue({ 
                el : '.container',
                data : {
                    list:[
                        {id:1,name:'西紅柿',price:4.6,count:3, max:3, min:0},
                        {id:2,name:'雞蛋',price:2.5,count:7, max:5, min:0},
                        {id:3,name:'黃瓜',price:8.6,count:1, max:7, min:0}
                    ]
                },
                filters:{
                  toFix:function(data){
                    console.log("do toFix");
                    return data.toFixed(2);
                  },
                  //dight=2 --> 表示默認值為2 未輸入參數時dight=2
                  currency:function(data, currency, dight=2){
                    //此用法表示currency入參數時currency = '#'
                    currency = currency || '#';

                    console.log("do currency");
                    return currency+data.toFixed(dight);
                  }
                },
                computed : {
                  cptSum:function(){
                    var result = 0;
                    this.list.forEach(function(item,index){
                      result+= item.price * item.count;
                    });
                    return result;
                  }
                }
            })
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>